<div>
  <h1>Heatmap.js example</h1>
  <h2>Lorem Ipsum</h2>
  <p class="lead">Lorem ipsum dolor sit amet et. Vestibulum ornare ligula. Nullam massa velit ligula risus congue. Nulla elit quis aenean nulla velit. Ipsum ligula elit. Et pellentesque mauris tellus ut eum. Nec accumsan pellentesque elit commodo diam in convallis commodo. Vehicula sit ultrices arcu eleifend pharetra. Dolor omnis pellentesque aliquam malesuada interdum justo pellentesque proin sit ante nec. Wisi fringilla fusce ultricies lacus luctus. Mollis non deserunt. Mattis phasellus vitae suscipit non orci. Pretium massa tempor at ullamcorper mauris. Id eget nibh. Habitasse curabitur mi elit natoque suspendisse ligula ut est.</p>
  <button>Button</button>
  <h2>Lorem Ipsum</h2>
  <p class="lead">Lorem ipsum dolor sit amet et. Vestibulum ornare ligula. Nullam massa velit ligula risus congue. Nulla elit quis aenean nulla velit. Ipsum ligula elit. Et pellentesque mauris tellus ut eum. Nec accumsan pellentesque elit commodo diam in convallis commodo. Vehicula sit ultrices arcu eleifend pharetra. Dolor omnis pellentesque aliquam malesuada interdum justo pellentesque proin sit ante nec. Wisi fringilla fusce ultricies lacus luctus. Mollis non deserunt. Mattis phasellus vitae suscipit non orci. Pretium massa tempor at ullamcorper mauris. Id eget nibh. Habitasse curabitur mi elit natoque suspendisse ligula ut est.</p>
  <button>Button</button>
  <h2>Lorem Ipsum</h2>
  <p class="lead">Lorem ipsum dolor sit amet et. Vestibulum ornare ligula. Nullam massa velit ligula risus congue. Nulla elit quis aenean nulla velit. Ipsum ligula elit. Et pellentesque mauris tellus ut eum. Nec accumsan pellentesque elit commodo diam in convallis commodo. Vehicula sit ultrices arcu eleifend pharetra. Dolor omnis pellentesque aliquam malesuada interdum justo pellentesque proin sit ante nec. Wisi fringilla fusce ultricies lacus luctus. Mollis non deserunt. Mattis phasellus vitae suscipit non orci. Pretium massa tempor at ullamcorper mauris. Id eget nibh. Habitasse curabitur mi elit natoque suspendisse ligula ut est.</p>
  <button>Button</button>
  <h2>Lorem Ipsum</h2>
  <p class="lead">Lorem ipsum dolor sit amet et. Vestibulum ornare ligula. Nullam massa velit ligula risus congue. Nulla elit quis aenean nulla velit. Ipsum ligula elit. Et pellentesque mauris tellus ut eum. Nec accumsan pellentesque elit commodo diam in convallis commodo. Vehicula sit ultrices arcu eleifend pharetra. Dolor omnis pellentesque aliquam malesuada interdum justo pellentesque proin sit ante nec. Wisi fringilla fusce ultricies lacus luctus. Mollis non deserunt. Mattis phasellus vitae suscipit non orci. Pretium massa tempor at ullamcorper mauris. Id eget nibh. Habitasse curabitur mi elit natoque suspendisse ligula ut est.</p>
  <button>Button</button>
  <h2>Lorem Ipsum</h2>
  <p class="lead">Lorem ipsum dolor sit amet et. Vestibulum ornare ligula. Nullam massa velit ligula risus congue. Nulla elit quis aenean nulla velit. Ipsum ligula elit. Et pellentesque mauris tellus ut eum. Nec accumsan pellentesque elit commodo diam in convallis commodo. Vehicula sit ultrices arcu eleifend pharetra. Dolor omnis pellentesque aliquam malesuada interdum justo pellentesque proin sit ante nec. Wisi fringilla fusce ultricies lacus luctus. Mollis non deserunt. Mattis phasellus vitae suscipit non orci. Pretium massa tempor at ullamcorper mauris. Id eget nibh. Habitasse curabitur mi elit natoque suspendisse ligula ut est.</p>
  <button>Button</button>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/javascripts/heatmap.js"></script>
<script src="/javascripts/jquery.heatmap.js"></script>
<% if @show_heatmap %>
<script src="/javascripts/show_heatmap.js"></script>
<% else %>
<script src="/javascripts/main.js"></script>
<% end %>
